{% macro favicons() -%}
  <link rel="apple-touch-icon" sizes="120x120" href="{{ static('images/favicons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ static('images/favicons/android-chrome-96x96.png') }}" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ static('images/favicons/favicon-32x32.png') }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ static('images/favicons/favicon-16x16.png') }}" sizes="16x16">
  <link rel="manifest" href="{{ static('images/favicons/manifest.json') }}">
  <link rel="shortcut icon" href="{{ static('images/favicons/favicon.ico') }}">
  <meta name="msapplication-TileImage" content="{{ static('images/favicons/mstile-150x150.png') }}">
  <meta name="msapplication-config" content="{{ static('images/favicons/browserconfig.xml') }}">
{%- endmacro %}

{% macro meta_tags(page) -%}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {% if page %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:url" content="{{ page.url }}">
    {% if page.title %}
      <meta property="og:title" content="{{ page.title }}">
    {% endif %}
    {% if page.og_type %}
      <meta property="og:type" content="{{ page.og_type }}">
    {% else %}
      <meta property="og:type" content="article">
    {% endif %}
    {% if page.og_image and page.root_url %}
      <meta property="og:image" content="{{ page.root_url }}{{ page.og_image.url }}">
    {% endif %}
    <meta property="og:description" content="{{ page.description }}">
  {% endif %}
{%- endmacro %}

